@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, sans-serif;
  background: linear-gradient(180deg, #020617 0%, #0f172a 100%);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0d9488 #0f172a;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}